doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/reset.css')
        link(rel='stylesheet', href='/stylesheets/bands.css')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        script.
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
          ga('create', 'UA-75031530-1', 'auto');
          ga('send', 'pageview');

    body
      block content
      script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js')
      script(src='/javascripts/global.js')
      script(src='/javascripts/date.js')

    #wrapper
      header
        #header-text
          h1#logo SXDiscover
          p#tagline These bands from your Spotify playlists are playing SXSW.
      article
        each key in json
          .date
            h2 !{key[0].date}
          each item in key[0].bands
            .band-container
              h2.artist !{item[0]}
              h3.venue !{item[1]}. !{item[2]}
      #footer
        a(href='/about', alt='about us', target='_blank')👬